<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Property Listings</h2>
        <ul>
            {% for property in property_data %}
                <li>
                    <!-- <div>
                        <img src="{{ url_for('static', filename='uploads/' + property.photo) }}" alt="Property Photo">
                    </div> -->
                    <div>
                        <p>Area: {{ property.area }}</p>
                        <p>Bedrooms: {{ property.bedrooms }}</p>
                        <p>Bathrooms: {{ property.bathrooms }}</p>
                        <p>Price: {{ property.price }}</p>
                        <p>Age: {{ property.age }} years</p>
                        <form action="{{ url_for('like') }}" method="POST">
                            <input type="hidden" name="property_id" value="{{ loop.index }}">
                            <button type="submit">Like</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
